[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/hwilli72/maplab/blob/main/docs/examples/maplab.ipynb)

Map functionality:

In [2]:
import maplab

In [4]:
m = maplab.Map(center=[40, -100], zoom=4)
m.add_search_control(position='topright')
m.add_draw_control()
m

Map(center=[40, -100], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…

In [4]:
url = "https://nominatim.openstreetmap.org/search?format=json&q={s}"

In [5]:
m.add_search_control(position="topleft", zoom=10, url=url)

Automation of the City Socioeconomic Database for Tennessee:

In [1]:
import pandas

In [3]:
import openpyxl

In [5]:
maplab.excel_to_dataframe(excel_file="C:/Users/hdubb/Downloads/maplab/docs/examples/CityNames.xlsx", sheet_name="Sheet1")

               City
0             Adams
1        Adamsville
2             Alamo
3             Alcoa
4        Alexandria
..              ...
426        Winfield
427        Woodbury
428  Woodland Mills
429     Wrigley CDP
430       Yorkville

[431 rows x 1 columns]