[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/hwilli72/maplab/blob/main/docs/examples/maplab.ipynb)

Map controls:

In [ ]:
import maplab

In [ ]:
m = maplab.Map(center=(51.505, -0.09), zoom=13)
m.add_search_control(position='topright')
m.add_draw_control()
m.add_layers_control
m.add_fullscreen_control()
m.add_tile_layer(url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", name="OpenStreetMap")
m

Automation of the City Socioeconomic Database for Tennessee:

In [ ]:
import pandas

In [ ]:
import openpyxl

In [8]:
maplab.excel_to_dataframe(excel_file="C:/Users/hdubb/Downloads/maplab/docs/examples/CityNames.xlsx", sheet_name="Sheet1")

               City
0             Adams
1        Adamsville
2             Alamo
3             Alcoa
4        Alexandria
..              ...
426        Winfield
427        Woodbury
428  Woodland Mills
429     Wrigley CDP
430       Yorkville

[431 rows x 1 columns]